# Source files
src/
tsconfig.json

# Development files
.gitignore
.editorconfig
.eslintrc.json
.prettierrc.json
.github/
.releaserc.json

# Tests
test/
tests/
*.test.ts
*.spec.ts

# Documentation
*.md
!README.md

# CI/CD
.github/
